
.item {
    width: 100px;
    height: 100px;
    background-color: #f95a5a;
    border-radius: 10%;
    border: 5px solid #6a0a0a;
    text-align: center;
    align-content: center;
    margin: 1px;
}

.item-a {
    width: 50px;
    height: 50px;
}

.item-b {
    height: 100%;
}

.item-c {
    width: 100px;
}

.container {
    border-radius: 0%;
    border: 5px solid #000000;
    height: 500px;
    width: 500px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
