:root{
    --priaryColor:      rgb(24, 24, 24);
    --secondaryColor:   #585858;
    --thirdColor:       #929292;
    --forthColor: 	    #a0a0a0;
    --fifthColor: 	    #ffffff;
}

* {
    background-color: var(--priaryColor);
}

.topnav {
    background-color: var(--forthColor);
    overflow: hidden;
    width: auto;
    /*border-radius: 3rem;*/ /* rounded border*/
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.25rem;
    background-color: var(--forthColor);
}

.topnav a:hover {
    background-color: black;
    color: rgb(122, 252, 144);
}

.topnav a.active {
    background-color: rgb(99, 243, 123);
    color: black;
}

 /*Projects */

.projects {
    /*background-color: var(--forthColor); */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
}

.projects a {
    color: black;
    text-align: center;
    background-color: var(--forthColor);
    border-radius: 3rem; /* rounded border*/
    font-size: 1.25rem;
    text-decoration: none;
    padding: 1rem;
    min-width: 25rem;
}

.projects a:hover {
    background-color: black;
    color: rgb(122, 252, 144);
}

.projects a.active {
    background-color: rgb(99, 243, 123);
    color: black;
}

h1 {
    color: white;
    text-align: center;
}

