@import 'shared.css';

.footer {
    margin-top: 5%;
    height: 3%;
    background-color: var(--primary-color);
    width:100%;
    display: flex;
    justify-content: center;
}

.footer h3{
    background-color:  var(--primary-color);
    color: #ffffff;
    padding: 1rem;
    width: 100%;
    text-align: center;
}
